/* Universal Selector */
* {
  font-family: Arial;
}

/* Body */
body {
  background-color: lightyellow;
  color: black;
}

/* Heading */
h1 {
  color: blue;
  text-align: center;
}

/* Paragraph */
p {
  background-color: lightgray;
  color: darkred;
  padding: 5px;
}

/* Table */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* List */
ul {
  list-style-type: square;
  background-color: #e0ffe0;
}

/* Selector and Pseudo-class */
a:hover {
  color: red;
}

/* Pseudo-element */
p::first-letter {
  color: green;
  font-size: 20px;
}
